body {
    font-family: "Georgia", serif;
    background-color: #333232;
    color: #d5d0d0;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #e8dfdf;
}

p {
    text-indent: 20px;
    margin-bottom: 15px;
    text-align: center;
}